<div class="progress">
    <div class="progress-bar progress-bar-blue" {{bind-attr style=progressCompletedWidth}}></div>
    <div class="progress-bar progress-bar-grey" {{bind-attr style=progressSingleWidth}}>
        <span class="hidden-xs">{{currentSlideNumber}} / {{slideCount}}</span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {{#carousel-component activeIndex=activeTab class="col-md-10"}}
            {{#carousel-slide class="active text-center"}}
                <h1>American Grand Strategy</h1>
                <div class="row text-center">
                    <a class="btn btn-primary btn-large blue-button continueButton top-buffer bottom-buffer" {{action "nextCarouselSlide" target="view.parentView"}}>Get Started</a>
                </div>
            {{/carousel-slide}}
            {{#each slide in model}}
                {{#carousel-slide class="text-left"}}
                    <div class="row top-buffer bottom-buffer text-center">
                        <a class="btn btn-primary btn-large previous backButton" {{action "previousCarouselSlide" target="view.parentView"}}>Go Back</a>
                        <a class="btn btn-primary btn-large next blue-button continueButton" {{action "nextCarouselSlide" target="view.parentView"}}>Next Prompt</a>
                    </div>
                    <div class="container-fluid top-buffer">
                        <div class="row">
                            <div class="col-md-9 text-center">
                                <h1>{{{slide.prompt}}}</h1>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 markdown">
                                {{{markdown slide.text}}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9">
                                <h3>{{{slide.category}}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row top-buffer bottom-buffer text-center">
                        <a class="btn btn-primary btn-large previous backButton" {{action "previousCarouselSlide" target="view.parentView"}}>Go Back</a>
                        {{#link-to 'slide.edit' slide class="btn btn-primary btn-large blue-button"}}Edit{{/link-to}}
                        <a class="btn btn-primary btn-large next blue-button continueButton" {{action "nextCarouselSlide" target="view.parentView"}}>Next</a>
                    </div>
                {{/carousel-slide}}
            {{/each}}
        {{/carousel-component}}
    </div>
</div>